@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* White text */
  --background-start-rgb: 0, 0, 0; /* Black background */
  --background-end-rgb: 0, 0, 0; /* Black background */
}

body {
  background-color: rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
  font-family: "Courier New", Courier, monospace; /* Monospace font */
  padding: 20px; /* Padding to give terminal-like appearance */
}

::selection {
  background-color: #d6d6d6; /* Background color of selected text */
  color: #000000; /* Text color of selected text */
}

* {
  -webkit-user-drag: none; /* For WebKit browsers like Chrome and Safari */
  outline: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White text */
    --background-start-rgb: 0, 0, 0; /* Black background */
    --background-end-rgb: 0, 0, 0; /* Black background */
  }
}

@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:wght@400;700&display=swap");

span {
  font-family: "Cascadia Code", "Courier New", Courier, monospace;
  color: #cfcfcf;
  white-space: pre; /* Preserve whitespace */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
